.titleWrapper {
    margin: 0 30px;
}

.showMoreWrapper {
    width: 90%;
    text-align: center;
    margin: 10px;
}

.showMore {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
}

.showMore:hover {
    background-color: #67BA80;
    transition: .1s;
}

.showMore:active {
    transition: 0s;
    background-color: white;
}