.fieldWrapper {
    margin: 5px 0;
}

.errorMessage {
    color: red;
}

.saveData {
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 5px;
    background-color: white;
}

.saveData:hover {
    background-color: #67BA80;
    transition: .1s;
}

.saveData:active {
    transition: 0s;
    background-color: white;
}