.app-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
  "h h" 
  "n c";
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 80px 1fr;
    gap: 10px;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #d4b371;
}

.preloader-wrapper {
    max-width: 1000px;
    width: 100%;
    height: 90vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}