.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr;
    grid-template-areas: "dialogs messages"
                            "dialogs input ";
    padding: 20px 0;
}

/*.dialogs-items {
grid-area: dialogs;
}*/

.dialogItems {

    padding: 20px;
}

.messages {
    grid-area: messages;
    padding: 20px;
}

.messageInput {
    grid-area: input;
}

.active {
    color: gold;
}